<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener ~ Registration</title>
    <!-- Bootstrap import -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<h1 class="text-center">Register form</h1><br>

<div class="row">
    {% with messages = get_flashed_messages(category_filter=['error']) %}
        {% if messages %}
            <div class="row">
                {% for message in messages %}
                    {% for key in message.keys() %}
                    <div class="alert alert-warning col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
                        <strong>Warning!</strong> {{ message[key][0] }}
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="/register" method="post" class="form-horizontal">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label for="inputname" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-9">
                {{ form.name(class="form-control", id="inputname", placeholder="Name") }}
            </div>
        </div>
        <div class="form-group">
            <label for="inputuser" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-9">
                {{ form.username(class="form-control", id="inputuser", placeholder="Username") }}
            </div>
        </div>
        <div class="form-group">
            <label for="inputpassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-9">
                {{ form.password(class="form-control", id="inputpassword", placeholder="Password") }}
            </div>
        </div>
        <div class="form-group">
            <label for="inputemail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-9">
                {{ form.email(class="form-control", id="inputemail", placeholder="E-mail") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form.submit(class="btn btn-default") }}
            </div>
        </div>
    </form>
</div>

</body>
</html>